
#listaClientes input[type="checkbox"] {
  width: auto;          /* ← ISSO resolve */
  padding: 0;
  margin: 0;
  background: none;
  
}


#listaClientes label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  cursor: pointer;
}

#listaClientes input[type="checkbox"] {
  margin: 0;
  align-self: flex-start;     /* ← garante esquerda absoluta */
}


    body {
      font-family: Arial, sans-serif;
      background: #0f172a;
      color: #e5e7eb;
      padding: 30px;
    }
    h1 {
      margin-bottom: 20px;
    }
    .card {
      background: #020617;
      padding: 20px;
      border-radius: 10px;
      max-width: 700px;
      box-shadow: 0 0 20px rgba(0,0,0,0.4);
    }
    label {
      display: block;
      margin-top: 12px;
      font-weight: bold;
    }
    input, select {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 6px;
      border: none;
      background: #1e293b;
      color: #fff;
    }
    button {
      margin-top: 20px;
      padding: 12px;
      width: 100%;
      border: none;
      border-radius: 8px;
      background: #6366f1;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background: #4f46e5;
    }
    .resultado {
      margin-top: 20px;
      background: #020617;
      padding: 15px;
      border-radius: 8px;
      border: 1px solid #1e293b;
    }